[submodule "Common_FPGA_Timestamp"]
	path = Common_FPGA_Timestamp
	url = https://github.com/lsst-ts/common_fpga_timestamp.git
[submodule "Common_FPGA_HealthAndStatus"]
	path = Common_FPGA_HealthAndStatus
	url = https://github.com/lsst-ts/common_fpga_healthandstatus.git
